<!DOCTYPE html>
<html lang="en">

<head>
    <title>Experiments Page</title>
    <link rel="shortcut icon" href="static/media/logo.png" type="image/png">
    <link rel="stylesheet" href="static/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Rubik&display=swap" rel="stylesheet">
</head>             
<body onload="init(); createPageForInfo()">
    <div id="basic">
        <img onclick="window.open('/main', '_self')" id="head-site" src="static/media/head.png">
        <div id="content">
            <div id="main">
            </div>
            <div id="menu">
                <ul id="inmenu">
                </ul>
            </div>
        </div>
        <div class="downdiv"></div>
    </div>
    <script src="static/script.js"></script>
</body>
</html>