<!DOCTYPE html>
<html lang="en">

<head>
    <title>Information page</title>
    <link rel="shortcut icon" href="static/media/logo.png" type="image/png">
    <link rel="stylesheet" href="static/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Rubik&display=swap" rel="stylesheet">
    <script src="static/jquery.js"></script>
    <script>$(function(){$("#head").load("gethead");});</script> 
</head>             
<body onload="init(); createPageForExperiments()">
    <div id="head"></div>
    <div id="basic">
        <div id="content">
            <div id="main">
            </div>
            <div id="menu">
                <ul id="inmenu">
                </ul>
            </div>
        </div>
        <div class="downdiv"></div>
    </div>
    <script src="static/script.js"></script>
</body>
</html>