<!DOCTYPE html>
<html>

<head>
    <title>ExperimentBox</title>
    <link rel="shortcut icon" href="static/media/logo.png" type="image/png">
    <link rel="stylesheet" href="static/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Rubik&display=swap" rel="stylesheet">
    <script src="static/jquery.js"></script>
    <script>$(function(){$("#head").load("gethead");});</script> 
</head>
<body onload="init(); createPageForInfo()">
    <div id="head"></div>
    <div id="main">
        <div id="text"></div>
    </div>
    <div id="menu"></div>
    <script src="static/script.js"></script>
</body>
</html>