/* Тело */
body {
    height: 100%; 
    padding: 0px;
    margin: 0;
    background: #d3d3d3;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}
/* Базовый блок страницы */
#basic {
    width: 960px;
    min-height: 100%;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
    background: white;
}

/* Шапка сайта */
#head-site {
    margin-bottom: 20px;
    height: 70px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 50%;
    margin: 0 auto;
}

/* Верхнее меню */
#top-menu {
    width: 950px;
    height: 127px;
    background: #e6ffff repeat-x;
}

/* ul верхнего меню */
#top-menu ul {  
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

/* li ul'а верхнего меню */
#top-menu ul li {
    float: left;
    background: no-repeat right center;
    display: block;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

/* Наведение на li ul'a верхнего меню */
#top-menu ul li:hover {
    background: #b3ffff;
}

#about{
    padding: 54px 68px 54px 68px;
    margin: 0 68px 0px 68px;
}

#exp{
    padding: 54px 66px 54px 66px;
    margin: 0 66px 0px 66px;
}

#chemcalc{
    padding: 54px 29px 54px 29px;
    margin: 0 29px 0px 29px;
}

/* Класс медиа-контента */
.mediacon {
    width: 690px;
}

/* Блок контента страницы */
#content {
    width: 960px;
    padding: 20px 0 0 0;
}

/* Информационный блок */
#main {
    float: right;
    width: 690px;
    padding: 0 0 0 20px;
    text-align: justify;
}

/* Заголовки в информационном блоке */
#main h1 {
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 0;
}

/* Меню эксперементов */
#menu {
    width: 240px;
    background: #e6ffff;
    color: #000000;
}

/* ul меню эксперементов */
#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* li ul'а меню эксперементов */
#menu ul li{
    display: block;
    width: 195px;
    text-decoration: none;
    padding: 10px 5px 10px 40px;
    background: no-repeat 10px 8px;
}

/* Наведение на li ul'a меню эксперементов */
#menu ul li#clickable:hover {
    background: #b3ffff no-repeat 10px 8px;
}


/* Корректор низа */
.downdiv {
    clear: both;
    float: none;
    width: 100%;
    height: 1px;
}