/* Тело */
body { 
    padding: 0px;
    margin: 0;
    background: #4c281e;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}
/* Базовый блок страницы */
#basic {
    width: 960px;
    min-height: 500px;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
    background: white;
}

/* Шапка сайта */
#head-site {
    margin-bottom: 20px;
    height: 70px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 50%;
    margin: 0 auto;
}

/* Класс медиа-контента */
.mediacon {
    width: 690px;
}

/* Верхнее меню */
#top-menu {
    width: 950px;
    height: 64px;
    background: #4c281e repeat-x;
    padding: 0 0 0 10px;
    box-shadow: 10px 10px #ff9c00;
}

/* ul верхнего меню */
#top-menu ul {  
    margin: 0;
    padding: 0;
    list-style: none;
}

/* li ul'а верхнего меню */
#top-menu ul li {
    float: left;
    background: no-repeat right center;
    display: block;
    height: 40px;
    padding: 24px 27px 0 27px;
    color: #ff9c00;
    text-decoration: none;
    text-transform: uppercase;
}

/* Наведение на li ul'a верхнего меню */
#top-menu ul li:hover {
    color: #4c281e;
    background: #ff9c00;
}

/* Блок контенка страницы */
#content {
    width: 960px;
    padding: 20px 0 0 0;
}

/* Информационный блок */
#right {
    float: right;
    width: 690px;
    padding: 0 0 0 20px;
    text-align: justify;
}

/* Заголовки в информационном блоке */
#right h1 {
    text-transform: uppercase;
    color: #4c281e;
    font-weight: normal;
    margin-top: 0;
}

/* Меню эксперементов */
#block-menu {
    width: 240px;
    background: #4c281e;
    box-shadow: 5px 5px #ff9c00;
    color: #ff9c00;
}

/* ul меню эксперементов */
#block-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* li ul'а меню эксперементов */
#block-menu ul li{
    display: block;
    width: 195px;
    text-decoration: none;
    padding: 10px 5px 10px 40px;
    background: no-repeat 10px 8px;
}

/* Наведение на li ul'a меню эксперементов */
#block-menu ul li#clickable:hover {
    background: #ff9c00 no-repeat 10px 8px;
    color: #4c281e;
}

/* Корректор низа */
.downdiv {
    clear: both;
    float: none;
    width: 100%;
    height: 1px;
}