body {
    padding: 0px;
    margin: 0;
    background: #4c281e;
    font-size: 14px;
    font-family: Arial, Sans-serif;
}

#basic {
    width: 960px;
    min-height: 500px;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
    background: white;
}

img {
    border: 1;
}

a:hover {
    text-decoration: none;
}


/* Шапка сайта */

#head-site {
    margin-bottom: 20px;
    height: 70px
}

/*Верхнее меню сайта*/

#top-menu {
    width: 950px;
    height: 64px;
    background: #4c281e url(images/m1.png) repeat-x;
    padding: 0 0 0 10px;
    box-shadow: 10px 10px #ff9c00;
}


#top-menu ul {  
    margin: 0;
    padding: 0;
    list-style: none;
}

#top-menu ul li {
    float: left;
    background: url(images/m2.png) no-repeat right center;
    padding: 0 2px 0 0;
}

#top-menu ul li a {
    display: block;
    height: 40px;
    padding: 24px 27px 0 27px;
    color: #ff9c00;
    text-decoration: none;
    text-transform: uppercase;
}

#top-menu ul li a:hover {
    color: #fff;
    background: #0c1783;
}


/*Левое меню и Контент*/

#content {
    width: 960px;
    padding: 20px 0 0 0;
}


/*Контент - правый блок*/

#right {
    float: right;
    width: 690px;
    padding: 0 0 0 20px;
    text-align: justify;
}

#right h1 {
    text-transform: uppercase;
    color: #4c281e;
    font-weight: normal;
    margin-top: 0;
}


/*Левое меню - левый блок*/

#block-menu {
    width: 240px;
    background: #4c281e;
    box-shadow: 5px 5px #ff9c00;
}

#block-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#block-menu ul li a {
    display: block;
    width: 195px;
    color: #fff;
    text-decoration: none;
    padding: 10px 5px 10px 40px;
    background: url(images/marker.png) no-repeat 10px 8px;
}

#block-menu ul li a:hover {
    background: darkgreen url(images/marker.png) no-repeat 10px 8px;
}


/*Подвал*/

.myclr {
    clear: both;
    float: none;
    width: 100%;
    height: 1px;
}
