::-webkit-scrollbar {
    width: 1%;
    background: #E6E6E6;
}

::-webkit-scrollbar-thumb {
    background: #BEBEBE;
}

::-webkit-scrollbar-thumb:hover {
    background: #606060;
}

body {
    margin: 0;
    background: #E6E6E6;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}

header{
    background: #404050;
    color: #FFFFC0;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-column-gap: 5%;
    height: 64px
}

header a img{
    height: 64px !important;
    border-radius: 50%;
}

header #links{
    float: left;
    display: grid;
    grid-template-columns: 2fr 5fr 2fr 9fr;
    height: 100%;
}

header #links .link{
    display: flex;
    align-items: center;
}

header a:link{
    color: #FFFFC0
}

header a:hover{
    color: #FFFFC0
}

header a:visited{
    color: #FFFFC0
}

#menu{
    overflow-y: auto;
    width: 20%;
    height: calc(100vh - 64px);
    float: left;
    background: white;
    color: #404050;
}

#clickable{
    padding: 8%;
    border-bottom: 1px solid #404050;
}

#clickable:hover{
    background: #C0C0C0;
}

.mediacon {
    max-width: 50%;
}

#main{
    overflow-y: auto;
    margin: 5% 5% 5% 5%;
    height: calc(100vh - 64px - 10%);
    float: right;
    width: 70%;
    /* text-align: justify; */
}

#main h1{
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 0;
}