<!DOCTYPE html>
<html>

<head>
    <title>ExperimentBox</title>
    <link rel="shortcut icon" href="static/media/logo.png" type="image/png">
    <link rel="stylesheet" href="static/mainPage/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Rubik&display=swap" rel="stylesheet">
</head>

<body>
    <div id="basic">
        <img id="head-site" src="static/media/head.png">
        <div id="top-menu">
            <ul>
                <li onclick="window.open('experiments', '_self')" id="exp">Опыты</li>
                <li onclick="" id="chemcalc">Химический калькулятор</li>
                <li onclick="window.open('about', '_self')" id="about">О нас</li>
            </ul>
        </div>
        <div class="downdiv"></div>
    </div>
</body>

</html>